
body{
    font-family:Arial;
    background:#f4f4f4;
}

.chat-container{
     width:500px;
     margin:auto;
     margin-top:50px;
     background:white;
     padding:20px;
     border-radius:10px;
}

#chat-box{
   height:300px;
   border:1px Solid gray;
   overflow-y:auto;
   padding:10px;
   margin-buttom:10px;
}
input{
   width:75%;
   padding:10px;
}
Button{
   padding:10px;
   cursor:pointer;
}
.User{
   color:blue;
   margin:5px;
}
.bot{
   color:green;
   margin:5px;
}



